/* GENERAL */
html, body{
    background: #FFFFFF;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 2;
    margin: 0;
    padding: 0;
    color: #868D92;
}
a {
    color: #000000;
    text-decoration: none;
}
p{
    margin: 0;
    margin-bottom: 10px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    margin: auto;
}
.img-responsive{
    max-width: 100%;
    display: block;
}
.hidden{
    display: none;
}
.container{
    padding: 0 16px;
}

/* HEADER */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 999;
    transition: all 0.5s;
}
header.active{
    background: #41627F; 
    transition: all 0.5s;
}
.menu-icon{
    position: absolute;
    width: 25px;
    height: 20px;
    float: right;
    display: block;
    right: 30px;
    top: 30px;
}
.menu-icon .line{
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-bottom: 6px;
    transition: all 0.5s;
}
.menu-icon.menu-close .line:first-of-type,
.menu-icon.menu-close .line:last-of-type{
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    transition: all 0.5s;
}
.menu-icon.menu-close .line:nth-of-type(2){
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    transition: all 0.5s;
}

/* SPLASHES */
.splash{
    position: relative;
    width: 100%;
    height: 75vh;
}
.splash.large{
    height: 90vh;
    margin-bottom: 60px;
}
.desayunos .splash.large{
    margin-bottom: 0;
}
.splash.filter:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
}
.splash .background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.splash .background.clasico{
    background: #2C4284;
}
.splash .icon-scroll{
    position: absolute;
    background: #008B45;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center; 
    bottom: -20px;
    left: calc(50% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.50);
    z-index: 99;
}
.splash .icon-scroll .icon{
    padding-top: 15px;
    padding-left: 1px;
}
.main-title{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.1px;
    line-height: 1.1;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: calc(50% - 75px);
    text-align: center;
    width: 100%;
}
.main-title span{
    display: block;
    font-weight: 600;
}
.main-title img{
    margin-top: 8px;
}

/* WHITE BOX */
.white-box{
    position: relative;
    top: -70px;
    background: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.20);
    margin-bottom: -40px;
}
.white-box .desc{
    margin: 20px 0;
}
.white-box .top-absolute{
    position: absolute;
    width: 100%;
    left: 0;
}
.receta .white-box .top-absolute{
    top: -80px;
}
.producto .white-box .top-absolute{
    top: -120px;
}
.top-absolute .product{
    width: 92px;
    height: 100px;
    display: inline-block;
}
.top-absolute .product.large{
    width: 203px;
    height: 155px;
    display: block;
    margin: 0 auto;
}
.top-absolute .product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.top-absolute .items{
    position: absolute;
    bottom: 48px;
    right: -12px;
}
.top-absolute .items li{
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08px;
    background-size: 21px;
    padding-left: 25px;
    margin-right: 15px;
    background-position: top left;
    background-repeat: no-repeat;
}
.top-absolute .items .unid{
    background-image: url(../img/icon-unid.png);
}
.top-absolute .items .dif{
    background-image: url(../img/icon-dif.png);
}
.top-absolute .items .time{
    background-image: url(../img/icon-time.png);
}
