/* GENERAL */
.title{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #7C7C7C;
    text-align: center;
    margin-bottom: 45px;
}
.title span{
    display: block;
    font-weight: 600;
}
.section-title{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #99262A;
    text-align: center;
    margin: 0;
}
.section-subtitle{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #99262A;
    margin: 0;
}
.red{
    color: #99262A;
}
.green-btn{
    background: #008B45;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.1px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 6px 25px;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

/* MENU */
.menu{
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    z-index: 999999999999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.menu.show{
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}
.menu .submenu{
    position: absolute;
    width: 25.5%;
    height: 100%;
    right: 0;
    background: #F7F7F7;
    text-align: center;
}
.menu .submenu li{
    text-transform: uppercase;
    font-family: 'Montserrat', Helvetica, sans-serif;
    letter-spacing: 0.04px;
    font-size: 11px;
    padding: 20px 0;
    position: relative;
    transition: all 0.5s;
}
.menu .submenu li.active{
    background: #ffffff;
    color: #41627f;
    transition: all 0.5s;
}
.menu .submenu li:after{
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 10px;
    background: #D8D8D8;
}
.menu .submenu li:last-of-type:after{
    display: none;
}
.menu .submenu li .active{
    display: none;
}
.menu .submenu li.active .active{
    display: initial;
}
.menu .submenu li.active .default{
    display: none;
}
.menu .content{
    width: 75%;
    float: left;
    overflow: scroll;
    height: 100%;
}
.menu .content li{
    position: relative;
    width: 100%;
    height: 100px;
    clear: both;
}
.menu .content li a{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.menu .content li .background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.menu .content li .producto{
    float: left;
    max-width: 40%;
}
.menu .content li.clasico{
    background: #2C4284;
}
.menu .content li.salmon{
    background: #FF8673;
}
.menu .content li.balance{
    background: #009ED0;
}
.menu .content li.light{
    background: #9CD87B;
}
.menu .content li.gruyere{
    background: #EBBD49;
}
.menu-title{
    position: absolute;
    top: 35px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.07px;
}
.title-productos{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.06px;
    color: #ffffff;
    font-weight: 400;
    float: left;
    padding-top: 40px;
    width: 60%;
    line-height: 1.3;
}
.title-productos.large{
    padding-top: 30px;
}

/* GENERAL SLIDERS*/
.slider .green-btn{
    margin-bottom: 60px;
}
.flex-control-nav{
    position: initial;
    margin: 35px 0;
}
.flex-control-paging li a, .flex-control-paging li a:hover{
    width: 16px;
    background: #008B45;
    opacity: 0.3;
    transition: width 0.5s;
}
.flex-control-paging li a.flex-active{
    width: 32px;
    background: #008B45;
    opacity: 1;
    transition: width 0.5s;
}

/* RECETAS SLIDER */
.recetas-slider{
    border: 0;
    margin: 0 -16px;
}
.recetas-slider .flex-viewport{
    padding: 0 16px;
}

.recetas-slider .img-container{
    position: relative;
}

.recetas-slider .img-container .bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    background: rgba(65, 98, 127, 0.8);
}
.recetas-slider .img-container .bottom p{
    color: #ffffff;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.08px;
    text-transform: uppercase;
    margin: 20px 0;
}

/* PRODUCTOS SLIDER */
.productos-slider{
    margin: 0;
}
.productos-slider .flex-viewport{
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
}

/* DESAYUNOS SLIDER */
.desayunos-slider{
    border: 0;
    margin: 0;
    margin-bottom: -1px;
}
.desayunos-slider .flex-control-nav{
    margin: 0;
    position: absolute;
    bottom: 20px;
}

/* STEPS */
.step{
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
}
.step.final:after{
    content: "";
    position: absolute;
    width: 160px;
    height: 1px;
    background: #99262A;
    bottom: 4px;
    left: calc(50% - 80px);
}
.step img{
    margin-bottom: 20px;
}

/* BANNER */
.banner{
    margin-bottom: 60px;
}
.social-banner{
    text-align: center;
    background: #EEEEEE;
    text-transform: uppercase;
    font-size: 14px;
    padding: 30px 40px;
    margin-bottom: 50px;
}
.desayunos .social-banner{
    margin-top: 30px;
}
.social-banner .social-media li{
    display: inline-block;
    margin: 10px 5px;
}
.banner-image{
    margin: 30px auto 50px;
}

/* TABLA NUTRICIONAL */
.nutricional{
    padding: 0 10px;
    margin: 20px 0;
}
.tabla-nutricional{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
.tabla-nutricional thead{
    text-align: right;
}
.tabla-nutricional th{
    color: #41627F;
    text-transform: uppercase;
    font-size: 12px;
}
.tabla-nutricional tbody th{
    text-align: left;
}
.table-desc{
    font-size: 10px;
    margin-bottom: 60px;
}

/* MAILER */
.mailer{
    border-top: 1px solid #868D92;
    padding: 50px 0;
}
.receta .mailer{
    border: none;
    padding: 0;
}
.mailer .desc{
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.mailer input, .mailer .green-btn{
    width: 100%;
    height: 43px;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    text-indent: 15px;
    border-radius: 5px;
}
.mailer input{
    font-family: 'Montserrat', Helvetica, sans-serif;
    border: 1px solid #9fa5a9;
    font-size: 16px;
}
.mailer input:focus{
    outline: none;
}
.mailer input::placeholder{
    text-transform: uppercase;
    color: #868D92;
}
.mailer .green-btn{
    border: none;
}
.green-btn.facebook{
    background: #2E5D9E;
}

/* FOOTER */
footer{
    background: #41627F;
    overflow: hidden;
    font-size: 0;
    margin: 0;
    padding: 0;
    height: 53px;
}
footer .terms{
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    margin: 14px 20px;
    display: inline-block;
}
footer .social-media{
    float: right;
    height: 100%;
}
footer .social-media li{
    display: inline-block;
    width: 52px;
    text-align: center;
    height: 100%;
}
footer .social-media li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
footer .social-media .wp{
    background: #40B87E;
}
footer .social-media .fb{
    background: #2E5D9E;
}
footer .social-media .tw{
    background: #22C3FF;
}